.img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.label-upload {
    gap: 5px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eeeeee;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #dcdcdc;
    }
}